<div class="panel panel-default">
	  <div class="panel-heading">
		New Patient Actions
	  </div>
	  <div class="panel-body">
		<%= link_to "Add Visit", new_patient_visit_path(@patient) %>
	  </div>
	  <div class="panel-body">
    	<%= link_to "Add Consent form", new_patient_consent_form_path(@patient) %>
	  </div>
	  <% if !(@patient.pdads.empty?) %>
	  <div class="panel-body">
		<%= link_to "Add PDAD", new_patient_pdad_path(@patient) %>
	  </div>
	  <% end %>
	  <div class="panel-body">
    	<%= link_to "Add Complaints", new_patient_complaint_path(@patient) %>
	  </div>
	  <% if !(@patient.visits.empty?) %>
	  <div class="panel-body">
    	<%= link_to "Update Vitals", edit_patient_visit_path(:id => @patient.id , :patient_id => @patient.id) %>
	  </div>
	  <% end %>
	  <div class="panel-body">
    	<%= link_to "Add Investigation", '#' %>
	  </div>
	  <div class="panel-body">
    	<%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>
	  </div>
	  <div class="panel-body">
    	<%= link_to "Add PFT Report", '#' %>
	  </div>

	</div>
