<% provide(:title, 'Find Patients') %>
<h1>All Patients</h1>




<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


    


<%= will_paginate @patients %>

    
<ul class="patients">
	<%= render @patients %>
</ul>

<%= will_paginate @patients %>
